<section class="hinduismfaq">
    <div class="card">
        <div class="card-block">
            <h5 class="card-header">Regular Events</h5>
        </div>
        <div class="card-body">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                           
                                
                            <div class="table-responsive">
                                <table class="table table-hover table-nowrap">
                                    <thead>
                                        <tr>
                                            <th>Day</th>
                                            <th>Event Name</th>
                                            <th>Recurrence Type</th>
                                            <th>Time</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                  <tbody>
                                    <tr>
                                      <td>Sunday</td>
                                      <td>Adoption of Constitution</td>
                                      <td>Test provisional elec</td>
                                      <td>Adoption of Constitution</td>
                                      <td>Adoption of Constitution</td>
                                    </tr>
                                    <tr>
                                      <td>Tuesday</td>
                                      <td>November 12, 1977</td>
                                      <td>Test provisional elec</td>
                                      <td>Adoption of Constitution</td>
                                      <td>Adoption of Constitution</td>
                                    </tr>
                                </tbody>
                                 </table>
                            </div>
                         
                                        
                        </div>
                       
                    </div>
                </div>
            </div>

        </div>
    </div>
    
</section>


