<section class="religionstemple">
    <div class="card">
        <div class="card-block">
            <h5 class="card-header">Priests</h5>
        </div>
        <div class="card-body">
            <div class="card shadow">
                <div class="card-body">
                    <p class="text-center">ॐ असतो मा सद्गमय ।तमसो मा ज्योतिर्गमय ।मृत्योर्मा अमृतं गमय ।ॐ शान्तिः शान्तिः शान्तिः ॥</p>
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="primary-color ">Priest Anand Sastrigal</h4>
                            <p><b>Priest Hours</b> - 8:30 AM -12 PM, 6 PM - 9 PM.</p>
                            <p>Priest Anand Sastrigal joined our Temple in February, 2017. Prior to that, he served as the Vedic Priest at the Austin Hindu Temple and Community Center (since November 2015). Priest Anand-ji hails from New Delhi where he was the Head Priest at the Siddhi Ganesh Temple. He also served as a family priest to over 500 families in Gurgaon and New Delhi.</p>
                            <p>The Priest has nineteen years of experience as a temple and family priest. He learnt Krishna Yajur Veda at the Sri Venkatadri Veda Vidyapeetham under Brahmashri G. K. Seetharaman, a well-known Vedic scholar and author. Originally, Anand-ji is from Palghat, Kerala. He is fluent in English, Hindi, Malayalam, and Tamil and can understand Telugu.</p>
                            <p>As an Indian Vedic Priest, he conducts all Hindu rituals and functions like consecration of Idols (Kumbabhishekam, Pranaprathishta, and Shilanyasam). He is also well versed in Astrology and Vastu. Pandit-ji has given religious discourses in many different Indian languages at temples, public forums, and private homes. These include topics related to Hinduism such as Hindu customs and traditions.</p>
                        </div>
                        <div class="col-md-6">
                            <img src="assets/PriestsImages/templePriestImage201902251503081.png" class="rounded img-fluid w-100">
                        </div>
                            

                        
                       
                  
                    </div>
                </div>
            </div>

      

        </div>
    </div>


    
</section>


