<section class="religionstemple">
    <div class="card">
        <div class="card-block">
            <h5 class="card-header">Location</h5>
        </div>
        <div class="card-body">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <iframe width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen="" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48422.045040708435!2d-75.4177556772461!3d40.66564361613966!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9aecfd6966550ef2!2sHindu+Temple+Society!5e0!3m2!1sen!2sin!4v1548931215393"></iframe>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">We are located in the heart of Lehigh Valley, Pennsylvania.</h4><br/>
                                    <p class="card-text"> <i class="bi bi-geo-alt custom-icon-color"></i> 4200 Airport Rd, Allentown, PA 18109</p>
                                    <p class="card-text"> <i class="bi bi-telephone custom-icon-color"></i> Phone: (484) 616-9001</p>
                                    <p class="card-text"><i class="bi bi-envelope custom-icon-color"></i> Email:admin&#64;hindutemple-lehighvalley.org</p>
                                </div>
                             </div>
                         </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
</section>


