<section class="hinduismfaq">
    <div class="card">
        <div class="card-block">
            <h5 class="card-header">Hinduism - FAQ</h5>
        </div>
        <div class="card-body">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <p>Position Statement: Hinduism covers a vast field, with many differing aspects of faith, varied philosophical systems, numerous paths to follow, and interesting varieties of ritual. There is a popular adage that if you ask the same question to a dozen learned Hindus, you may very well get twelve different answers and all of them would be true. The truth is one, but the wise talk of it in differing ways. Our answers and opinions are given according to our best understanding.</p>

                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                                 <!-- Accordion start -->
                                 <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button collapsed shadow-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            1.Why does your temple house four different religions?
                                        </button>
                                      </h2>
                                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            In 1977, there were approximately 100 Indian families in Lehigh Valley. At that time, the Hindu Temple Society was formed to serve the , social and needs of the religions originating in India Hindu, Jain, Sikh and Buddhist. These are major religions that originated in India and followed by tens of millions of people all over the world.
                                        </div>
                                      </div>
                                    </div>
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed shadow-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            2.Who is a Hindu?
                                        </button>
                                      </h2>
                                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            If a person has at least one Hindu parent or has chosen to adopt Hindu principles, and celebrates Hindu festivals, one may be considered a Hindu. From a strict traditional sense, to be a Hindu, one must accept the Vedas as the pramana for self-knowledge.
                                        </div>
                                      </div>
                                    </div>
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed shadow-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            3.What is "Sanatana Dharma?"
                                        </button>
                                      </h2>
                                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Sanatana Dharma and Hinduism are synonymous. The term Sanatana Dharma, loosely translated as "Eternal Law or Way," is self-referential. The term "Hindu," however, is a 12th century term used by the invaders to refer to the civilization on the banks of the Indus (therefore Hindu) river. The adherents of Sanatana Dharma, amongst other concepts, accept the sanctity of the Vedas and other Hindu scriptures; accept that there are multiple paths to worship the one all-pervasive Divine (Brahman); believe in an underlying unity of all existence; believe in the law of karma, reincarnation, and dharma or right living; and accept the ultimate goal of liberation (moksha).
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            <!-- Accordion end -->
                        </div>
                       
                    </div>
                </div>
            </div>

        </div>
    </div>
    
</section>


