<section class="hinduismfaq">
    <div class="card">
        <div class="card-block">
            <h5 class="card-header">Slokas</h5>
        </div>
        <div class="card-body">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                                 <!-- Accordion start -->
                                 <div class="accordion accordion-flush" id="accordionExample">
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button collapsed shadow-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Vedic Mantras
                                        </button>
                                      </h2>
                                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Links</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Rudram Chamakam</td>
                                                        <td><a href="#">http://vignanam.org/#&panel1-1</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Sample Data 2</td>
                                                        <td><a href="#">Link 2</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Sample Data 3</td>
                                                        <td><a href="#">Link 3</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed shadow-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Shlokas
                                        </button>
                                      </h2>
                                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            If a person has at least one Hindu parent or has chosen to adopt Hindu principles, and celebrates Hindu festivals, one may be considered a Hindu. From a strict traditional sense, to be a Hindu, one must accept the Vedas as the pramana for self-knowledge.
                                        </div>
                                      </div>
                                    </div>
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed shadow-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Aarthi
                                        </button>
                                      </h2>
                                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Sanatana Dharma and Hinduism are synonymous. The term Sanatana Dharma, loosely translated as "Eternal Law or Way," is self-referential. The term "Hindu," however, is a 12th century term used by the invaders to refer to the civilization on the banks of the Indus (therefore Hindu) river. The adherents of Sanatana Dharma, amongst other concepts, accept the sanctity of the Vedas and other Hindu scriptures; accept that there are multiple paths to worship the one all-pervasive Divine (Brahman); believe in an underlying unity of all existence; believe in the law of karma, reincarnation, and dharma or right living; and accept the ultimate goal of liberation (moksha).
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            <!-- Accordion end -->
                        </div>
                       
                    </div>
                </div>
            </div>

        </div>
    </div>
    
</section>


