<nav class="navbar navbar-expand-lg shadow">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" (click)="navbarCollapsed = !navbarCollapsed" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" [class.collapse]="navbarCollapsed">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link"  ariaCurrentWhenActive="page" (click)="routesCalling('home')">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Temple</a>
        <div class="dropdown-menu">
          <a class="dropdown-item"  (click)="routesCalling('religionsintemple')">Religions in Temple</a>
          <a class="dropdown-item" (click)="routesCalling('TempleHours')" >Temple Hours</a>
          <a href="#" class="dropdown-item" (click)="routesCalling('Location')">Location</a>
          <a href="#"class="dropdown-item" routerLink="/temple/Priests" routerLinkActive="active">Priests</a>
          <a href="#"class="dropdown-item" routerLink="/temple/HinduismFAQ" routerLinkActive="active">Hinduism - FAQ</a>
          <a href="#"class="dropdown-item" routerLink="/temple/Newsletters" routerLinkActive="active">Newsletters</a>
          <a href="#"class="dropdown-item" routerLink="/temple/Slokas" routerLinkActive="active">Slokas</a>
          <a href="#"class="dropdown-item" routerLink="/temple/TempleMilestones" routerLinkActive="active">Temple Milestones</a>
      </div>
       
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Events</a>
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item">Temple Events</a>
          <a href="#" class="dropdown-item">Regular Events</a>
          <a href="#" class="dropdown-item">Religious Dates</a>
          <a href="#"class="dropdown-item">Festivals Dates</a>
          <a href="#"class="dropdown-item">Panchang</a>
      </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Services</a>
        <div class="dropdown-menu">
          <a href="#"class="dropdown-item">Services Offered</a>
          <a href="#"class="dropdown-item">Poojas</a>
          <a href="#"class="dropdown-item">Pooja Sponsorship</a>
          <a href="#"class="dropdown-item">Astrological Inquiry</a>
          <a href="#"class="dropdown-item">Rental Booking</a>
          <a href="#"class="dropdown-item">Priest Booking</a>
          <a href="#"class="dropdown-item">Bereavement Support</a>
      </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Community</a>
        <div class="dropdown-menu">
          <a href="#"class="dropdown-item">Welcome Brochure</a>
          <a href="#"class="dropdown-item">Lehigh Valley Doctors</a>
          <a href="#"class="dropdown-item">Volunteer</a>
          <a href="#"class="dropdown-item">Community Outreach</a>
      </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Balvihar</a>
        <div class="dropdown-menu">
          <a href="#"class="dropdown-item">Calendar</a>
          <a href="#"class="dropdown-item">Religion Classes</a>
          <a href="#"class="dropdown-item">Language Classes</a>
          <a href="#"class="dropdown-item">Graduating Students</a>
          <a href="#"class="dropdown-item">Balvihar Awards</a>
          <a href="#"class="dropdown-item">FAQ</a>
          <a href="#"class="dropdown-item">Photo Gallery</a>
          <a href="#"class="dropdown-item">Feedback Form</a>
      </div>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">About</a>
        <div class="dropdown-menu">
          <a href="#"class="dropdown-item">The Temple</a>
          <a href="#"class="dropdown-item">Executive Council</a>
          <a href="#"class="dropdown-item">Board Members</a>
          <a href="#"class="dropdown-item">Past Chair Persons / Presidents</a>
          <a href="#"class="dropdown-item">Feedback</a>
      </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Gallery</a>
        <div class="dropdown-menu">
          <a href="#"class="dropdown-item">Photos</a>
          <a href="#"class="dropdown-item">Audios</a>
          <a href="#"class="dropdown-item">Videos</a>
      </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://sites.google.com/view/hinduyouthassociation/home" target="_blank">HYA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pledge</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="#"> <button class="btn btn-sm btn-warning" type="submit">Make a Donation</button></a> 
      </li>

    </ul>
  </div>
</nav>
