<section class="hinduismfaq">
    <div class="card">
        <div class="card-block">
            <h5 class="card-header">Newsletter</h5>
        </div>
        <div class="card-body">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row justify-content-start">
                        <div class="col-md-5 col-sm-12">
                            <h5>Subscribe to our newsletter and have it delivered to your inbox every month!(or browse through our archives)</h5>    <br/>
                            <p>Subscribe for Events & News !</p>     
                            <form>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="form1-name" class="col-form-label">Name</label>
                                        <input type="text" class="form-control" id="form1-name" placeholder="Name">
                                    </div>
                                   
                                </div>
    
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="form1-email" class="col-form-label">Email</label>
                                        <input type="email" class="form-control" id="form1-email" placeholder="Email">
                                    </div>
                  
                                </div>
                                <button type="submit" class="btn btn-primary mt-3">Subscribe</button>
                            </form>

                        </div>
                        <div class="col-md-5 col-sm-12">
                            <h4>Newsletters</h4>
                        </div>
                        

                    </div>

                </div>
            </div>

        </div>
    </div>
    
</section>


