<section class="religionstemple">
    <div class="card">
        <div class="card-block">
            <h5 class="card-header">Religions in Temple</h5>
        </div>
        <div class="card-body">
            <p>The Hindu Temple Society is a Shantiniketan – An Abode of Peace.At the temple, we house prayer facilities for four religions that co-exist peacefully.It is, indeed, a unique Temple, where Sikhs, Jains, Buddhists, and Hindus congregate and can pray following their rituals and ceremonies.</p>
            <h4>Welcome to our Temple</h4>
            <div class="row">
                <div class="color-wrapper col-lg-3 col-md-6 col-sm-6">
                    <div class="color" (click)="templePages('Hindu')">
                        <span class="title">Hindu</span>
                        <div class="swatch"><img src="assets/ReligionLogos/hindu.png"></div>
                       
                    </div>
                </div>
                <div class="color-wrapper col-lg-3 col-md-6 col-sm-6">
                    <div class="color" (click)="templePages('Jain')">
                        <span class="title">Jain</span>
                        <div class="swatch"><img src="assets/ReligionLogos/jain.png"></div>
                 
                    </div>
                </div>
                <div class="color-wrapper col-lg-3 col-md-6 col-sm-6">
                    <div class="color" (click)="templePages('Sikh')">
                        <span class="title">Sikh</span>
                        <div class="swatch"><img src="assets/ReligionLogos/sikh.png"></div>
                 
                    </div>
                </div>
                <div class="color-wrapper col-lg-3 col-md-6 col-sm-6">
                    <div class="color" (click)="templePages('Buddhist')">
                        <span class="title">Buddhist</span>
                        <div class="swatch"><img src="assets/ReligionLogos/buddhi.png"></div>
                 
                    </div>
                </div>

               
            </div>

            
          
        </div>
    </div>
</section>


