<section class="hinduismfaq">
    <div class="card">
        <div class="card-block">
            <h5 class="card-header">Temple Milestone</h5>
        </div>
        <div class="card-body">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <p>In the sixties, Bharatiya Cultural Society (BCS), a nonprofit organization, was established by some American friends in eastern Pennsylvania to learn about Bharatiya culture.

                                In the early seventies, few Indian families in the Lehigh Valley became part of BCS. The idea of formation of a separate entity for the majority residents of Lehigh valley originally started during the discussions at the meetings of the BCS.</p>
                            <p>These Indian families started monthly pujas and prayers in a rented location, graciously offered by the then Unitarian Church located at 701 Lachauweki Avenue, Bethlehem, PA. Late Shri Bhanu Shanker Shuklaji was the first ‘volunteer’ priest. Muhlenberg College Faculty House was used to conduct first Bal Vihar classes. The initial seed money for the HTS was collected under the non-profit status of the BCS. First check of $100 was received from Indra Ghai on May 9th, 1976..</p>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="card">
                                
                            <div class="table-responsive">
                                <table class="table table-hover table-nowrap">
                                  <tbody>
                                    <tr>
                                      <td>Test provisional elec</td>
                                      <td>Adoption of Constitution</td>
                                    </tr>
                                    <tr>
                                      <td>March 3,2019</td>
                                      <td>November 12, 1977</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th scope="row">Note: * Temple Anniversary Celebration is held on this date December 22</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                                 </table>
                            </div>
                            </div>
                                        
                        </div>
                       
                    </div>
                </div>
            </div>

        </div>
    </div>
    
</section>


