<main>
  <section class="carousel-images">

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/HomePageSliderImages/homeSliderImage202001040058225.jpg"
            class="d-block w-100 object-fit-fill border rounded" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/HomePageSliderImages/homeSliderImage202303202126362.jpg"
            class="d-block w-100 object-fit-fill border rounded" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </section>
  <section class="events-section">
    <div id="cards" class="container mb-2 mt-5">

      <div class="example col-md-12 ml-auto mr-auto">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Upcoming Events</h4>
                <p class="card-text"></p>

              </div>
              <div class="card-footer mb-4">
                <a href="#" class="btn btn-primary">More Events</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12 mb-4 ">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Religions in Temple</h4>
                <p class="card-text">The Hindu Temple Society is a Shantiniketan - An Abode of Peace.At the temple, we
                  house prayer facilities for four religions that co-exist peacefully.</p>
                <p>It is, indeed, a unique Temple, where Sikhs, Jains, Buddhists, and Hindus congregate and can pray
                  following their rituals and ceremonies.</p>

              </div>
              <div class="card-footer mb-4">
                <a href="#" class="btn btn-primary">View All</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12 mb-4 sm-hidden">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">About Temple</h4>
                <p class="card-text">The Hindu Temple Society (HTS) was formed in 1978 by a group of dedicated and
                  visionary Indian-Americans in the Lehigh Valley. HTS aims to meet religious and cultural needs of
                  Buddhists, Hindus, Jains, and Sikhs.</p>
                <p>The Temple, named Shantiniketan, was built in 1985. Major renovations were completed in 1992 and
                  2007.</p>

              </div>
              <div class="card-footer mb-4  ">
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="temple-timings">
    <div id="cards" class="container mb-2 mt-5">

      <div class="example col-md-12 ml-auto mr-auto">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mt-5">
            <div class="card footer-card">
              <div class="card-body">
                <div id="carouselExampleControls22" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner footer-carousel">
                    <div class="carousel-item active">
                      <img src="assets/HomePageGroupImages/homeGroupImage202003141212181.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item ">
                      <img src="assets/HomePageGroupImages/homeGroupImage202003141212181.jpg" class="d-block w-100" alt="...">
                    </div>
          
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>

              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mt-5">
            <div class="card footer-card">
              <div class="card-body">
                <h4 class="card-title">News Letter</h4>
                <p class="card-text">Subscribe for Events & News !</p>
                <form>
                  <div class="row">
                      <div class="form-group col-md-12">
                          <label for="form1-name" class="col-form-label">Name</label>
                          <input type="email" class="form-control" id="form1-name" placeholder="Name">
                      </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-12">
                        <label for="form1-email" class="col-form-label">Email</label>
                        <input type="email" class="form-control" id="form1-email" placeholder="Email">
                    </div>
                  </div>
                  <div class="row mt-4 ">
                    <div class="form-group col-md-12 align-self-start">
                      <button type="button" class="btn btn-primary">SUBSCRIBE</button>
                  </div>
                 </div>
                </form>
              </div>
       
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mt-5">
            <div class="card footer-card">
              <div class="card-body">
                <h4 class="card-title">Location</h4>
                <iframe width="100%" height="80%" frameborder="0" style="border:0" allowfullscreen="" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48422.045040708435!2d-75.4177556772461!3d40.66564361613966!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9aecfd6966550ef2!2sHindu+Temple+Society!5e0!3m2!1sen!2sin!4v1548931215393"></iframe>
              </div>
    
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>


</main>