
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f2 !important;
  }
  
  :root {
    --bs-primary: #a91823; /* New primary color */
    --bs-primary-rgb: 169, 24, 35; /* RGB format of the new primary color */
  }
  
  .btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
  }
  
  .btn-primary:hover {
    background-color: #920f1b; /* Darker shade for hover state */
    border-color: #820e17;
  }

.temple-timings{
  background: #f4f4f4;
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #820e17 !important;
  box-shadow: 0 0 2px rgb(130, 14, 23,1) !important;
  outline: 0 none;
}
